@{
    ViewData["Title"] = "Confirmación de olvido de contraseña.";
    Layout = "~/Views/Shared/_GeneralLayout.cshtml";
}
<br />
<br />
<div align="center">
    <h2>@ViewData["Title"]</h2>
    <p>
        Por favor, verifica tu correo electrónico para cambiar la contraseña.
    </p>
    <p>
        <a href="~/Account/Login">◄ Volver</a>
    </p>
</div>
