.dash-main-wrapper{
    width:80%;
    padding:1.0em;
    border-radius:10%;
}
    .dash-main-wrapper .number{
        font-size:4.5em;
        font-weight:600;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color:black;
        text-align:center;
    }
    .dash-main-wrapper .text{
        font-size:1.2em;
    }
.dash-second-wrapper {
    width: 80%;
    padding: 1.0em;
    margin:0 auto;
}
    .dash-second-wrapper .number {
        font-size: 2.5em;
        font-weight: 600;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: black;
        text-align: center;
    }
    .dash-second-wrapper .legend-desc{
        color:rgb(255,109,55);
    }
    .dash-second-wrapper .number{
        color:aliceblue;
    }

.top-line{
    width:100%;
    height:5px;
    background-color:rgb(255,109,55);
}
.bg-graphicSet{
    background-color:rgb(66,66,66);
}