
@{
    ViewData["Title"] = "Bills";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div align="center"><h2>Consulta de facturas</h2></div>
<br />
<form>
    <br />
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <button class="btn btn-success btn-block">Obtener facturas</button>
        </div>
        <div class="col-sm-4"></div>
    </div>
</form>
