@{
    ViewData["Title"] = "Dashboard";
}
<div align="center" class="section-title"><h2>Dashboard</h2></div>
<br />
<div>
    <div class="row">
        <div class="col-md-6">
            <div class="dash-main-wrapper">
                <div class="number">150</div>
                <div align="center" class="text">Total users</div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="dash-main-wrapper">
                <div class="number">13</div>
                <div align="center" class="text">Total categories</div>
            </div>
        </div>
    </div>
    <br /><br />
    <div class="row bg-graphicSet">
        <div class="col-md-4">
            <div class="dash-second-wrapper">
                <div class="chart-box">
                    <div class="number">26</div>
                    <canvas id="young-chart" style="width:100%;height:auto;text-align:center;"></canvas>

                    <div align="center" class="legend-desc">Young users</div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="dash-second-wrapper">
                <div class="chart-box">
                    <div class="number">39</div>
                    <canvas id="adult-chart" style="width:100%;height:auto;text-align:center;"></canvas>

                    <div align="center" class="legend-desc">Adult users</div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="dash-second-wrapper">
                <div class="chart-box">
                    <div class="number">55</div>
                    <canvas id="old-chart" style="width:100%;height:auto;text-align:center;"></canvas>

                    <div align="center" class="legend-desc">Old users</div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        //Show young users percentage in pie chart - using Chartjs
        var data_young = {
            datasets: [{
                data: [26, 150],
                backgroundColor: [
                    'rgb(255,109,55)',
                    'rgb(40,40,40)'
                ],
                borderColor: [
                    'rgb(255,109,55)',
                    'rgb(40,40,40)'
                ],
            }],

            // These labels appear in the legend and in the tooltips when hovering different arcs
            labels: [
                'Young users',
                'Other users'
            ]
        };
        var data_adult = {
            datasets: [{
                data: [39, 150],
                backgroundColor: [
                    'rgb(255,109,55)',
                    'rgb(40,40,40)'
                ],
                borderColor: [
                    'rgb(255,109,55)',
                    'rgb(40,40,40)'
                ],
            }],

            // These labels appear in the legend and in the tooltips when hovering different arcs
            labels: [
                "Adult's users",
                'Other users'
            ]
        };
        var data_old = {
            datasets: [{
                data: [55, 150],
                backgroundColor: [
                    'rgb(255,109,55)',
                    'rgb(40,40,40)'
                ],
                borderColor: [
                    'rgb(255,109,55)',
                    'rgb(40,40,40)'
                ],
            }],

            // These labels appear in the legend and in the tooltips when hovering different arcs
            labels: [
                'Old users',
                'Other users'
            ]
        };
        var young_ctx = document.getElementById("young-chart").getContext('2d');
        var youngChart = new Chart(young_ctx, {
            type: 'pie',
            data: data_young,
            options: {
                legend: {
                    display: true,
                    labels: {
                        fontColor: 'rgb(255,255,241)'
                    },
                    position:'bottom'
                }
            }
        });
        var adult_ctx = document.getElementById("adult-chart").getContext('2d');
        var adultChart = new Chart(adult_ctx, {
            type: 'pie',
            data: data_adult,
            options: {
                legend: {
                    display: true,
                    labels: {
                        fontColor: 'rgb(255,255,241)'
                    },
                    position: 'bottom'
                }
            }
        });
        var old_ctx = document.getElementById("old-chart").getContext('2d');
        var oldChart = new Chart(old_ctx, {
            type: 'pie',
            data: data_old,
            options: {
                legend: {
                    display: true,
                    labels: {
                        fontColor: 'rgb(255,255,241)'
                    },
                    position: 'bottom'
                }
            }
        });
    </script>
}
