@model BillViewModel
@{
    ViewData["Title"] = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br /><br />
<h2>Nuevo pago</h2>
<hr />

    <div class="form-group-lg">
        <label class="control-label">Torneo:</label>
        <select id="ddl_tourneys" asp-for="TourneyID" asp-items="Model.Tourneys" class="form-control">
            <option value="0">Please select one</option>
        </select>
    </div>
    <br />
    <div class="form-group-sm">
        <label class="control-label">Precio:</label>
        <input id="pago_precio" class="form-control" readonly />
    </div>
    <br />
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group-lg">
                <label class="control-label">Cedula del usuario:</label>
                <input class="form-control" id="ddl_users" oninput="ActivatePayButton()" />
            </div>
            <div class="form-group-sm">
                <button id="btn_check" class="btn btn-sm btn-success" onclick="CheckUser()">check</button>
            </div>
        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4"></div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-3">
            <label>Nombre completo</label>
            <input id="info_nombre" class="form-control" readonly />
        </div>
        <div class="col-sm-3">
            <label>Teléfono</label>
            <input id="info_telefono" class="form-control" readonly />
        </div>
        <div class="col-sm-3">
            <label>Email</label>
            <input id="info_email" class="form-control" readonly />
        </div>
        <div class="col-sm-3">
            <label>Cuenta</label>
            <input id="info_cuenta" class="form-control" readonly />
        </div>
    </div>
    <br />
    <br />
    <br />
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <button id="btn_pagar" class="btn btn-primary btn-block" style="font-size:1.2rem;font-weight:600;">Registrar pago</button>
        </div>
        <div class="col-sm-4"></div>
    </div>


@section Scripts{ 
    <script type="text/javascript">
        $('#ddl_users').prop('disabled', true);
        $('#btn_pagar').prop('disabled', true);
        $('#btn_check').prop('disabled', true);
        $('#btn_pagar').click(function () { 
            // Make a POST ajax request to register the new payment in the database and to register
            //    the user to the tourney it payed.
            alert("Pago realizado!");
        });
        $("#ddl_tourneys").change(function () {
            if ($(this).val() !== "1" && $(this).val() !== "0") {

                var id = $(this).val();
                $.ajax({
                    url: '/Admin/GetTorneo',
                    type: 'GET',
                    data: { _id: id },
                    cache: false,
                    dataType: "json",
                    success: function (result) {
                        $.each(result, function (k, v) {
                            //alert(k);
                            if (k === "price") {
                                $('#pago_precio').val(v);
                                $('#ddl_users').prop('disabled', false);
                            }
                        });
                    }
                });
            } else {
                $('#pago_precio').val("");
                $('#ddl_users').prop('disabled', true);
            }
        });
        function ActivatePayButton() {
            if ($('#ddl_users').val().length > 0) {
                $('#btn_check').prop('disabled', false);
            } else{
                $('#btn_check').prop('disabled', true);
            }
        }
        function CheckUser() {

            //Verify if user with cedula === ddl_users exists and retrieve with ajax.
            // If it does, fill the inputs: FullName, Phone, Email, Account. Then activate the btn_pagar button.
            let user_cedula = $('#ddl_users').val();
            
            try {
                let user_cedula_longType = parseInt(user_cedula); //Test if the cedula field has only numbers...
                $.ajax({
                    url: '/Admin/GetUser',
                    type: 'GET',
                    dataType: "json",
                    cache: false,
                    data: { user_cedula: user_cedula },
                    success: function (result) {
                        
                        
                    },
                    error: function (request, status, error) {
                        //alert(request.responseText);
                        $('#btn_pagar').prop('disabled', true);
                        $('#info_nombre').val("");
                        $('#info_telefono').val("");
                        $('#info_email').val("");
                        $('#info_cuenta').val("");
                   
                    },
                    complete: function (data) {
                        if (data.responseJSON !== null) {
                            $('#btn_pagar').prop('disabled', false);
                            $.each(data.responseJSON, function (k, v) {
                                //alert(k);
                                if (k === "fullName")
                                    $('#info_nombre').val(v);
                                if (k === "phone")
                                    $('#info_telefono').val(v);
                                if (k === "email")
                                    $('#info_email').val(v);
                                if (k === "account")
                                    $('#info_cuenta').val(v);
                            });
                        } else {
                            $('#btn_pagar').prop('disabled', true);
                        }
                    }
                });

            } catch (error) {

                alert("Cédula inválida: " + error);
            }

        }
    </script>
}