
@{
    ViewData["Title"] = "Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div align="center"><h2>Reportes predefinidos</h2></div>
<br />
<form>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <select class="form-control form-control-sm">
                <option>General</option>
                <option>Por categoría</option>
                <option>Por nombre de usuarios</option>
                <option>Todos los torneos</option>
                <option>Usuarios pagos y confirmados</option>
                <option>Usuarios pagos</option>
                <option>Usuarios confirmados</option>
                <option>Cantidad de usuarios pagos y confirmados por categoria</option>
                <option>Porcentaje de usuarios pagos y no pagos</option>
                <option>Porcentaje de usuarios confirmados y no confirmados</option>
                <option>Usuarios que han realizado al menos un pago</option>
                <option>Usuarios que han participado en cada torneo</option>
            </select>
        </div>
        <div class="col-sm-4"></div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <button class="btn btn-success btn-block">Generar reporte</button>
        </div>
        <div class="col-sm-4"></div>
    </div>
</form>
